

<div class="col-md-4 offset-md-4 bg-white rounded mt-5 p-5">

<div class="btn_sign_up" id="btn_sign_up_facebook">
         <%= image_tag '', class: "img_signin" %>
          <%= link_to "Continuer avec Facebook", omniauth_authorize_path(:user, :facebook), class: "h3_facebook"%>
        </div>

  <h2>Sign up</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions btn text-white btn-signup">
    <%= f.button :submit, "Sign up" %>
   </div>
 <% end %>
  <%= render "devise/shared/links" %>

  <div class="facebook-button">
 <%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign up with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end %>
<% end %>
</div>

</div>
